body {
  background-image: url(imagenes/pantalla.jpg);
  background-size: 100%;
  background-repeat:  no-repeat;
}

button{
margin: 0;
height: 20%;
background-color: rgb(203, 226, 199);
font-family: arial;
font-size: 24px;
font-weight: bold;
border-radius: 10%;
}

button a{
  text-decoration: none;
    }

button:hover{
  background-color: white;
}

h1 {
  font-family: arial;
  color: rgb(19, 19, 224);
  margin: 0;
  font-size:45px;
  padding-top: 30px;
}

h2,h3 {
    color: rgba(183, 161, 108, 0.98);
    font-family: sans-serif;
    font-style: italic;
  }

.grado{
  font-weight: bold;
}
.grado1{
  text-align: center;
}

.imagen{
  width: 300px;
  float: left;
  margin-top: 40px;
  margin-left: 22px;
}

  .foto{
    width: 300px;
    border-radius: 50%;
  }

  .descripcion {
    height: auto;
    margin: 10px;
    margin-left: 350px;
    font-family: sans-serif;
    text-align: justify;
    font-size: x-large;
    color: rgb(19, 19, 224);
  }

  .recuadro {
    background-color:rgba(160, 230, 255, 0.08);
    padding: 50px 250px;
    border-radius: 5%;
    box-shadow: 3px 6px 14px 8px rgba(40, 90, 130, 0.77);
  }

  .botonera {
    text-align: right;
    margin-bottom: 10px;
  }

  .direcciones img {
      width: 60px;
      padding: 0 3px;
  }

  .bloque {
      margin-top: -30px;
  }

.conocimientos{
  font-family: sans-serif;
}

.titulo{
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(183, 161, 108, 0.98);
  font-style: italic;
}

@media screen and (max-width: 480px){

  h1{
    font-size: 30px;
    padding-top: 0px;
  }

  .imagen{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .botonera{
    text-align: center;
    margin-bottom: 10px;
  }

  .descripcion {
    height: none;
    margin: 0px;
    margin-left: 0px;
    font-family: sans-serif;
    text-align: none;
    font-size: x-large;
    color: rgb(19, 19, 224);
  }

    }
